.RData
.Rhistory
Makefile
Elledge/fastq_files.1
Elledge/fastq_files/*.count.csv.gz
Elledge/fastq_files/*.bam
Elledge/fastq_files/*.bam.bai
Elledge/counts_vir3_Bio_Protocol.sorted.csv
Elledge/fastq_files/merged.combined.count.Zscores.csv
Elledge/fastq_files/merged.combined.count.csv
Elledge/vir3.*.ebwt
Elledge/fastq_files/merged.combined.count.Zscores.*.csv
Elledge/hits_combined_vir3_3.5_cutoff.sorted.csv
our_vir3*
/*_virus_scores.*
peptides_in_vir3_clean.csv
test*
ftp.box.com/
/pepsyn/
